body {
	background-color: black;
}

h1, h2, h3, h4, h5, h6, p {
	color: white;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0 auto;
	right: 0 auto;
}

.invisible {
	display: none;
}
