html
	head
		title
			|DARKHOUSE
		link(rel='stylesheet', href='/css/main.css')
	body
		.container#main-menu-container
			center
				h1.
					DARKHOUSE
				input(type='text', placeholder='Username')#username-input
				button#create-game Create Game
				button#back-to-main.invisible Back
				input(type='text', placeholder='Room Number')#room-number-input.invisible
				button#join-game Join Game
		.container#room-lobby-container.invisible
			center
				h1.
					DARKHOUSE
				h2#room-title.
					Room [ gameID goes here ]
				h3#room-person-count.
					0 people in this room:
				p#room-usernames.
				button#room-start-button.invisible Start Game
				button#leave-room Leave Room
		.container#game-container


		// Scripts
		script(type='text/javascript', src='https://cdn.socket.io/socket.io-1.4.5.js')
		script(type='text/javascript', src='https://code.jquery.com/jquery-latest.min.js')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js')
		script(type='text/javascript', src='/js/darkhouse-client.js')
		script(type='text/javascript', src='/js/Key.js')
		script(type='text/javascript', src='/GameObjects/Player.js')
		script(type='text/javascript', src='/GameObjects/Floor.js')
		script(type='text/javascript', src='/GameObjects/ObstacleBox.js')
		script(type='text/javascript', src='/js/darkhouse-game.js')
	footer
